html {
  background: rgb(18, 5, 77);
  background: linear-gradient(
    135deg,
    rgb(16, 4, 66) 0%,
    rgba(59, 6, 94, 1) 100%
  );
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}

body {
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HeaderBar */
.logo {
  width: 50px;
  height: inherit;
}

.header-bar {
  width: 90%;
  align-items: center;
}

.navigation {
  width: 40%;
  align-items: center;
}

.nav-btn {
  background-color: transparent;
  color: #f1f1f186;
}

.nav-btn:hover {
  color: white;
  border-bottom: 2px solid #f85bd6;
}

/* Background */
.container1 {
  width: 90vw;
  height: 90vh;
  background-color: #210041a6;
  border-radius: 30px;
  /* background-image: url("./img/3092066-01.png"); */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container2 {
  width: 100%;
  height: 100%;
  background: rgba(48, 6, 90, 0.788);
  background: linear-gradient(
    135deg,
    rgba(45, 10, 78, 0.7) 0%,
    rgba(92, 35, 145, 0.5) 65%,
    rgba(100, 34, 175, 0.5) 100%
  );
  border-radius: 30px;
  align-items: center;
  -webkit-box-shadow: 9px 6px 44px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 6px 44px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 6px 44px -4px rgba(0, 0, 0, 0.75);
}

.container3 {
  display: flex;
  height: 80%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.actual-btn {
  background-color: indigo;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
  height: fit-content;
  width: fit-content;
}

.btn-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Slider */
input[type="range"] {
  outline: 0;
  border: 0;
  border-radius: 500px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    overflow: hidden;
    width: 100%;
    -webkit-appearance: none;
    background-color: #ddd;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    height: 30px;
    -webkit-appearance: none;
    color: #444;
    transition: box-shadow 0.2s ease-in-out;
  }

  #stroke::-webkit-slider-thumb {
    width: 30px;
    -webkit-appearance: none;
    height: 30px;
    cursor: ew-resize;
    background: #fff;
    border-radius: 50%;
    transition: box-shadow 0.2s ease-in-out;
    position: relative;
    box-shadow: -320px 0 0 310px #000, inset 0 0 0 30px #000;
  }

  #stroke:active::-webkit-slider-thumb {
    background: #fff;
    box-shadow: -320px 0 0 310px #767676, inset 0 0 0 3px #767676;
  }
}

#img-container {
  width: 80vw;
  height: 50vh;
  align-items: center;
}

#img-container img,
canvas {
  max-width: 300px;
  max-height: 65vh;
}

.hidden {
  visibility: hidden;
}

a:visited {
  color: white;
}

.btn:hover {
  background-color: #ca10a1;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
}

.flex-sa {
  display: flex;
  justify-content: space-around;
}

#input-wrapper canvas,
#input-wrapper img {
  display: inline-block;
  width: 28px;
  height: 28px;
}
#input-wrapper {
  width: 90%;
  height: 84px;
  clear: left;
  float: left;
  overflow-y: hidden;
  margin-bottom: 20px;
}
#input-wrapper img:first-child {
  width: 0px;
}

.predict {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
}

.output-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

#handwriting {
  cursor: crosshair;
  width: 100%;
  height: 100%;
}

#output {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 40px;
  letter-spacing: 10px;
  width: 100%;
}

.output-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 40%;
}
