html {
    background: rgb(18, 5, 77);
    background: linear-gradient(
        135deg,
        rgb(16, 4, 66) 0%,
        rgba(59, 6, 94, 1) 100%
    );
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#landing-img {
    width: 750px;
    height: auto;
    animation: scaleTransfrom 1s ease-out
}

.container1 {
    width: 90vw;
    height: 90vh;
    background-color: #210041a6;
    border-radius: 30px;
    background-image: url("./img/3092066-01.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container2 {
    width: 90vw;
    height: 90vh;
    background: rgba(48, 6, 90, 0.788);
    background: linear-gradient(
        135deg,
        rgba(45, 10, 78, 0.7) 0%,
        rgba(92, 35, 145, 0.5) 65%,
        rgba(100, 34, 175, 0.5) 100%
    );
    border-radius: 30px;
    -webkit-box-shadow: 9px 6px 44px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 9px 6px 44px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 9px 6px 44px -4px rgba(0, 0, 0, 0.75);
}
.container3 {
    width: 90vw;
    align-items: center;
}

.container4 {
    margin-left: 80px;
    width: 28vw;
    height: 55vh;
    backface-visibility: hidden;
}

.nav-bar {
    width: 25rem;
}

.content {
    width: 25rem;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

h1 {
    font-weight: bold;
    font-size: 70px;
}

.paragraph {
    color: #f1f1f186;
}

.logo {
    width: 50px;
    height: inherit;
}

.header-bar {
    width: 80vw;
}

.navigation {
    width: 40vw;
    align-items: center;
}

.nav-btn {
    background-color: transparent;
    color: #f1f1f186;
}

.nav-btn:hover {
    color: white;
    border-bottom: 2px solid #f85bd6;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-sb {
    display: flex;
    justify-content: space-between;
}

.flex-sa {
    display: flex;
    justify-content: space-around;
}

.flex-ct {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col-ct {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    animation: moveFromLeft 0.5s ease-out;
    margin-bottom: 10px;
}

.paragraph {
    animation: moveFromRight 0.5s ease-out;
}

@keyframes moveFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(5px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveFromRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-5px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveFromBottom {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scaleTransfrom {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1)
    }
}

/* Button */
.btn:visited,
.btn:link {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #ca10a1;
    border-radius: 50px;
    transition: all 0.2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    weight: 100%;
    border-radius: 50px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transition: all 0.2s;
}

.btn-animated {
    animation: moveFromBottom 0.5s ease-out 0.7s;
    animation-fill-mode: backwards;
}

.navbar-animated {
    animation: moveFromBottom 0.3s ease-out;
    animation-fill-mode: backwards;
}
